
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="widget in model.widgets" class="list-group-item">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                {{widget.name}}
            </a>
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>

